.inner {
  width: 1120px;
  margin: 0 auto; }

#visual {
  height: 650px;
  background: #ccc; }

main {
  margin-top: -60px;
  position: relative; }

body, html {
  position: relative;
  overflow: hidden; }
